/**
 * Button
 */
.getStarted {
  border-radius: 10px 10px 10px 10px;
  color: var(--ifm-color-white);
  border-color: #208bb6;
  background-color: #208bb6;
  transition: transform 0.3s ease-in-out;
}

.getStarted:hover {
  transform: scale(1.05);
}

/**
 * Header with line
 */
[data-theme="light"] .header {
  width: 100%;
  border-bottom: 2px solid var(--ifm-color-black);
  line-height: 0.1em;
}

[data-theme="dark"] .header {
  width: 100%;
  border-bottom: 2px solid var(--ifm-color-white);
  line-height: 0.1em;
}

[data-theme="light"] .header span {
  background: var(--ifm-color-white);
  padding-right: 20px;
}

[data-theme="dark"] .header span {
  background: var(--ifm-background-color);
  padding-right: 20px;
}

/**
 * Business Intelligence Image
 */
.studio {
  display: block;
  border-radius: 10px;
  width: 80%;
}

[data-theme="light"] .studio {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-600);
}

[data-theme="dark"] .studio {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-1000);
}

.headerImage,
.studio {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
